@media (max-width: 767px) {
  .web {
    display:none !important;
  }
  .btn-header
  {
    text-align: left;
  }
}

.btn-header
{
  text-align: right;
}

.form-group {
    margin-bottom: 0px !important;;
}

.form-group2 {
    margin-bottom: 15px !important;;
}
.break
{
  page-break-after: always;
}

th
{
  vertical-align:middle;
}

@media print {
    @page {
      margin: 5mm;
    }
    .tbroder {
       padding:3px 5px 3px 5px;
       border:1px solid #333;
    }
    .info{
      font-size:16pt;
      text-align:left;
    }
    .content{
      padding: 5px;
      font-size:13pt;
    }

    .thStyle {
      text-align: center;
      background-color:#e7e6e6;
      font-size:13pt;
      padding: 5px;
      font-weight: bold;
    }

    .text-left{
      text-align: left;
    }
    .text-center{
      text-align: center;
    }
}

.half{
  margin: 5mm;
  margin-left: 10px;
  height: 126mm;
}
