.visibility-non{
  visibility: hidden;
}


@media (min-width: 768px)
{
  .justify-content-md-center {
      -webkit-box-pack: center!important;
      -ms-flex-pack: center!important;
      justify-content: center!important;
  }
}
