.visibility-non{
  visibility: hidden;
}

.form-group {
    margin-bottom: 20px !important;
}

select.select2{
    position: static !important;
    outline:none !important;
}

@media print {

  @page noheader {
      display: table;
      margin: 5px;
      sheet-size: 210mm 297mm;
  }
  .noheader {
      page: noheader;
      padding: 14px;
      font-family: kanit;
      font-size: 18px !important;
      line-height: 16px !important;
  }

  .text-left{
    text-align: left;
  }

  .text-center{
    text-align: center;
  }

  .font-8{
    font-size: 16px;
  }

  .font-9{
    font-size: 18px;
  }
  .font-10{
    font-size: 20px;
  }

  .text-right{
    text-align: right !important;
  }

  hr{
    border: 1px solid #000 !important;
  }

  .table-borders{
    border-top: 1px solid #000 !important;
    border-bottom: 1px solid #000 !important;
    height: 40px;
  }
  .table-bordered {
    border: 1px solid #000 !important;
  }


  table tr td{
    padding: 4px;
  }

  .barcode{
    display: block;
    text-align: center;
  }

  .head-copy{
    position: absolute;
    top: 5px;
    right: 5px;
    color: red;
    font-size: 20px;
    font-weight: bold;
  }
}

@media (max-width: 767px) {
  div.classShowMini {
    display:block !important;
  }
  div.classShow {
    display:none !important;
  }
}
@media (min-width: 768px) {
  div.classShowMini {
    display:none !important;
  }
  div.classShow {
    display:block !important;
  }
}
