

  /* .break{
      page-break-after: always;
    }

  @page {
    size: A4;
    margin: 0;

  } */

  @media print {

      .tbroder {
         padding:3px 5px 3px 5px;
         border:1px solid #333;
      }
      .info{
        /* font-size:16pt; */
        text-align:left;
      }
      .content{
        padding: 5px;
        font-size:14pt !important;
      }

      .thStyle {
        text-align: center;
        background-color:#e7e6e6;
        font-weight: bold;
        padding: 10px 5px 10px 5px;
        font-size:14pt !important;
      }

      td{
        vertical-align: middle !important;
        /* padding: 5px; */
      }

      .barcode{
        display: block;
        text-align: center;
      }


  }
